input[type="submit"],
button,
[aria-label] {
  cursor: pointer;
}

#editForm {
  display: none;
}

table {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: #f1f1f1;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.product {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
}

.product h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.product p {
  color: #777;
  margin: 0.5rem 0;
}

.product button {
  background-color: rgb(45, 165, 235);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.product button:hover {
  background-color: #26241a;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}